language: groovy
jdk:
- openjdk8
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
before_install:
- openssl aes-256-cbc -K $encrypted_b09dbefd878c_key -iv $encrypted_b09dbefd878c_iv -in .travis/secring.gpg.enc -out .travis/secring.gpg -d
install:
- "./gradlew assemble -x signArchives -POSSRH_USERNAME=${OSSRH_USERNAME} -POSSRH_PASSWORD=${OSSRH_PASSWORD}"
before_script:
- chmod +x gradlew
script:
- "./gradlew check -POSSRH_USERNAME=${OSSRH_USERNAME} -POSSRH_PASSWORD=${OSSRH_PASSWORD}"
deploy:
  skip_cleanup: true
  provider: script
  script: bash .travis/deploy.sh
  on:
    tags: true
after_deploy:
- "./gradlew closeAndReleaseRepository -POSSRH_USERNAME=${OSSRH_USERNAME} -POSSRH_PASSWORD=${OSSRH_PASSWORD}"
- shred -u .travis/secring.gpg
env:
  global:
  - secure: uYw3zRbKe13pNr++U6i8wecu75ZNWZBLAQ4bEwRgwnY5dkpPHtsGvdCfPZSyKAHQYDsewZ1LbVinT2fs5VPA8i6L0gq1/HClZP4VFmtDaHZqEPdpliEk6PE4kgGmZunhE6CB9u+tRQjMoKmvto35cbOwHSakWrZ76fe6qjhS6GisBBMu2RDQZMCRIcJcrydrWTOr5njaTS90Yb5uLVHH6EVmabHaHXWxz/S7/e2NJIxoDdJK6A31Rp7owYHJcRXmFLXlJO8z27t1YTzptq1/pK4iXzArNGPUOws0WV1pJR91KPPacXbvsOnY0qqdRZuNb6abCAmPaix0n4QDqtiHkzBsZfqabsYjOQGPoEiZ2WZ/vTU/JrnhDlzvn9qstiYV4oUsEpM+xEibpdJkJCYvVvZFjGiTy8KHJfsZIP0Ggp8eQfpBcaGSo/JtRAtg53kivpAOVuq7Sww8/yL8sAaubc+JCUj2Bd/jPIXuiJGGxS6VceZ4pxzTxzF7jWWpMfMDq2vwip7qKRlBZcoSMAAtYF8lNy30Pt7Bjxh7QI6ohHxSaZl+9o3Yo9wm7Qp0SVFZfRkPuD9nbrHuH3krUWxyMROGIjvn/1FRem+KF91crpr+RMRXuEiq82IoDjazo3QXu7xwpOoRq/SGDNuCiL4VVl/utMMVd4UC2F2Ak4VGqmU=
  - secure: cB2aG1fr1V/DWNXzSh8M+7C3bS1itzHI25/Qv5FgskEEQ6QULHiOEovIS1ITowLeAS+mJ0I6sJ2rxaCIg1MTJwxnb02i1XXuywUFrwUx+3we1vYXHsYtxYQH+jm3q4H8ohzgJC5l/i/FDcU03hlBua2FNyu8y3O0IlFTbUCBNrlmz0qTxcAe5w0i79Hozx01XClz3sji6e1ft9GN0DZA2/1G9FJM6OV4nn6+EQkfDVcaNPh/S3R5GFY4FDz4r3nvZI7JBIqSXFBQILZlQep8ddIeDJAajvsxclWFSkxXQ4H4XIiZz4hv4FaZFbFBhF2uP/pSj1XdyYQBzlrrCcvMinoSTJEtwCYTjIyWuTlhcDbJ8oP8XpaH4bVrxF2p96B40djLySp77pnJ6kNKBuDNNGADz4DTBxjAsThhNBI3nhOJWqqfpF12mCqczZB99fUvXT+VuTTpYXn+gI2ugLDFKsMZ4uPsegxrIN0snWL08yirAoX74kLHJ/HtvoebORcjd7+2ptWQVQCfnoNGOY8Jad5IMy0K+GeAYO8jO9ySvTBegpjd14BvvTAmZz+0nOL/IvZQrUS6FLMLJ8aRQ90AGaVVC6iPgxY1bO90WOJCsRXOdZjO6DDE/QHEOMJcUFfbM04AaqpnOyv8SHmJpsAORZjvxjuKEhkzciBtmCdk1z4=
  - secure: l5riZZcaNewRrsc2gRg8vW4bnhZp49quRE9ci1vFLeVZsUf7+sEr7mrkV7Uas3Su2sAXVpsm3U8m8/cp1v7xC+Sbg/HngDSLzFUdqvZp3hKK/LvNptlBK8j+LFYds99fcC6S9BxCqVa7Sqy4j5lVj6wffLaZGPdH94ljQA0iBOrS+l6aUeJPEgnx4dGmQFTxZxFdbZYdPugzHV49gjDQ3O+1mWZJHTJzzmsGds3WQlEaEfLpGPDlP2Hr2pIARvTLqFjVMFyQiqaEPONEGRQErNrxy6/6A6LBGZY59EP9NehV/ikTDSyh5MJscq61d/NXIfEHpV39/J3cXHlbEeBu161gtNBQ8FH8uD52yolL3QmNb0T8vSKAfpJlQguPrAi6nkA3Gb2e9tQJdt6ul+LzfLKGOoXltlQS3EnGI9RnarXltjq9Ym1a7ZecZyA5vd1tJ8RGF216FCtWwX4iBo0OSaOW1o/zi6Qa+kUda8C6b6N9WgIwX5viNkTzdR3iH4dl1dqGaJtklXvmrkDcbxwowAZJgm99GzPLKYAeN8Wiv3mXXVTRcKjzrzbbOSD0LnEH7I0ndDMQTxPR9gBnDbTXOzk1LkMhy2n8wiUVHlkEs8q+tFetC3xH1E++ypOonA1faqr1h/vUIhe0f70T/vhiYX4A3AyRx9ikwg8uwcCgLoo=
  - secure: Boa3bFhZmlCGw+Eo/jF0i6dKZZGjXFrNkwfH1q68j1v2FnsJwKIzfazA6Ndq87C7qQ+CP7eN+LJxmU5YPzzw/MwAbrPkuLFx/6jw5+KCrro/qrHk3H9MloZGmoKrOFWXi8K7veXNRSBNc1O7MAUEmo4eX5gPYvJnuzhtYxmDcemj8cjJnbINCbzy9I8xAdHbFFwS4f6QIgDSSJFEU82kg08eG+/GPaosJVTeSNhVno3OvIAkWYViZKQogW1mSdF+26fgsjsIT58y7N+fuNXa02SfYWe8yDl/0qIY1FCvH7cpBGCTRckPjySY/E/HfWwmfdfNvx/J1DwJPeiwGE7AG69BHEffK97apv1nDGTrGdJBOYmuDgCW12k2D/RAzc6G+k7NOEg7gaSKgxTk9hiXXbEhcnsZUyVpjMSPs2eVRBb9J/9uRlLZGDAXX4H2CsqFp7TXYjx0C3XPF9rWOwtflS2wPBxFDQLbf1X1n3Zj6yMmnkagwSDUF9tA+TaHrsOg/VuQeAKxLbjNkw29OzyH950GNslz+e8GRen9iqiNsDb2Tdn4kDRCgkxk3O4jzQIZzYk7ZtfXuNfYZVTcFLzsVEofZcchQJLDkLMJf3+k3QWtH86CQNNEIRHD8g05AtZ6M/eCrc4hat+y2/ULx7OOAxrE7yNnVBucEBrVLoVzlz4=
